

<div class="container">
	<table>
		<thead>
			<tr>
				<th>Movie</th>
				<th>Year</th>
				<th>Artists</th>
				<th>Cover</th>
				<th>Go to imDB</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of movies">
				<td>{{item.movie}}</td>
				<td>{{item.year}}</td>
				<td>{{item.stars}}</td>
				<td><img src={{item.imageUrl}} alt="alt"></td>
				<td>
                    <a href={{item.link}} target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go to...</a>
                </td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 

<div class="container">
	<table>
		<thead>
			<tr>
				<th>Movie</th>
				<th>Year</th>
				<th>Artists</th>
				<th>Cover</th>
				<th>Go to imDB</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Lalala</td>
				<td>Lalala</td>
				<td>Lalala</td>
				<td>Lalala</td>
				<td>
                    <a href="/lala" target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go to...</a>
                </td>
			</tr>
		</tbody>
	</table>
</div> 


 -->
