



<div class="container">
	<ul role="list" *ngFor="let item of movies">
				<li>{{item.movie}}</li>
				<li>{{item.year}}</li>
				<li>{{item.stars}}</li>
				<li><img src={{item.imageUrl}} alt="alt"></li>
				<li>
                    <a href={{item.link}} target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go to!</a>
                </li>
	</ul>
</div> 




<!-- <div class="container">
	<ul role="list">
				<li>lalalalalalala</li>
				<li>lalalalala</li>
				<li>lalalalalalala</li>
				<li><img src="https://m.media-amazon.com/images/I/513binDljWL._AC_UF1000,1000_QL80_.jpg" alt="alt"></li>
				<li>
                    <a href="lalalalalalala"target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go!</a>
                </li>
	</ul>


	<ul role="list">
		<li>lalalalalalala lalalalalalala</li>
		<li>lalalalala</li>
		<li>lalalalalalala</li>
		<li><img src="https://m.media-amazon.com/images/I/513binDljWL._AC_UF1000,1000_QL80_.jpg" alt="alt"></li>
		<li>
			<a href="lalalalalalala"target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go!</a>
		</li>
    </ul>  

   
	<ul role="list">
		<li>lalalalalalala</li>
		<li>lalalalala</li>
		<li>lalalalalalala</li>
		<li><img src="https://m.media-amazon.com/images/I/513binDljWL._AC_UF1000,1000_QL80_.jpg" alt="alt"></li>
		<li>
			<a href="lalalalalalala"target="_blank" class="buttonReset"><span class="searchAdvanced"></span>Go!</a>
		</li>
    </ul>  

</div>  -->



