<section class="profilepage">
    <div class="profilecard">
      <div class="topsection">
            <div class="pic">

                <div *ngIf="isFemale; else elseBlock">
                    <img
                    src="https://img.freepik.com/free-vector/vector-pop-art-woman-watching-movie-with-virtual-reality-glasses_1441-373.jpg?w=2000"
                    alt=""
                    />
                </div>

                <ng-template #elseBlock>
                    <img
                    src="https://media.istockphoto.com/id/638625882/vector/teen-in-cinema.jpg?s=612x612&w=0&k=20&c=kQOnh8GGkeL23O0UVFBnBIxZshh-VSzkf1TKjVvFLE8="
                    alt=""
                />
                </ng-template>

        </div>
        
        <div class="email">{{currentUser.email}}</div>
      </div>

      <div class="bottomsection">
        <h2>My Reviews</h2>
      </div>
    </div>

    <div class="wishbooks">
        <app-movie [postssss]="myRecords"></app-movie>


        <!-- <h2 className={styles.norecords}>
          There are no records posted yet...
        </h2>
     -->
    </div>

    <div>
      <div class="bottomsection2">
        <h2>Wish List</h2>
      </div>
    </div>
    <div class="wishbooks">
        <app-movie [postssss]="wishList"></app-movie>



      <!-- {wishList.length === 0 && (
        <h2 className={styles.norecords}>
          There are no records in the wishing list yet...
        </h2>
      )} -->
    </div>

</section>

