.details-page {
    padding-top: 110px;
    padding-bottom: 110px;
    height: auto;
  }
  
  
  .details-page > h1 {
  
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: -1em;
    margin-bottom: 0.1em;
    padding: 5px;
  }
  
  .details-card {
    display: flex;
    width: 680px;
    height: auto;
    background-color: linear-gradient(rgba(71, 68, 68, 0.5), rgba(43, 42, 42, 0.5));
    margin-bottom: 1.5em;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 0 0 10px #00000070;
  }
  
  .details-card-image {
    position: relative;
  }
  
  .details-card-image > img {
    width: 260px;
    height: 360px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
  
  .details-card-image:hover img{
    transform: scale(1.1);
  }
  
  .details-card-text {
    width: 400px;
    position: relative;
    height: auto;
  }
  
  .detail-card-text-content {
    position: relative;
    width: 250px;
    height: auto;
    text-align: center;
    margin-left: 15px;
    padding-left: 10px;
    box-shadow: 0px 0px 20px 0px black;
  }
  
  .details-card-text > h2 {
    font-size: 23px;
    text-align: center;
    line-height: 1.6em;
    word-wrap: break-word;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: white;
  }
  
  .details-card-text > h3 {
    font-size: 14.5px;
    line-height: 2em;
    word-wrap: break-word;
    padding-left: 10px;
    margin-top: 0.2em;
    color: white;
  }
  
  .details-btn:hover {
    box-shadow: none;
    background-image: linear-gradient(to left, violet, rgb(41, 151, 151));
  }
  
  .buttons {
    margin-top: 10%;
    position: relative;
    text-align: center;
    bottom: 2%;
  }
  
  .logged-users .wish-pub {
    color: #fff;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 15.3px;
    width: 250px;
    font-weight: 600;
    margin-top: 1.3em;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-color: gray;
    border-style: outset;
    border-width: 3px;
    background-color: rgb(113, 81, 155);
  }

  .logged-users .voted-pub {
    color: #fff;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 15.3px;
    width: 250px;
    font-weight: 600;
    margin-top: 1.3em;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-color: gray;
    border-style: outset;
    border-width: 3px;
    background-color: rgb(153, 143, 172);
  }
  
  .btn-edit,
  .btn-delete,
  .btn-wish {
    color: #fff;
    border: none;
    padding: 9px;
    outline: none;
    font-size: 15.3px;
    font-weight: 600;
    margin-top: 40px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-color: gray;
    border-style: outset;
    border-width: 3px;
  }

  .btn-vote{
    color: #fff;
    border: none;
    padding: 9px;
    outline: none;
    font-size: 15.3px;
    font-weight: 600;
    margin-top: 40px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 20px rgba(253, 253, 253, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-color: rgb(231, 179, 179);
    border-style: outset;
    border-width: 3px;
    background-color: #da4c06;

  }
  
  .btn-edit:hover,
  .btn-vote:hover,
  .btn-delete:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .btn-edit {
    background-color: #428aa0;
  }
  
  .btn-edit:hover {
    background-color: #387183;
  }
  
  .btn-delete {
    background-color: #f15505;
  }
  
  .btn-delete:hover {
    background-color: #da4c06;
  }
  
  .btn-wish {
    background-color: #595c61;
  }
  
  .btn-wish:hover {
    background-color: #4b4d50;
  }
  
  
  .add-a-comment{
    transform: translateY(20px);
  }
  
  .add-a-comment form{
    padding-left: 20px;
    display: inline-block;
    position: absolute;
  }
  
  .add-a-comment label{
    position: absolute;
    transform: translateY(-20px);
    color: white;
  }
  
  .add-a-comment textarea{
    width: 500px;
    height: 100px;
  }
  
  
  .home-buttons{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    z-index: 0;
    font-weight: bold;
    border: 3px solid #5aa8a0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .home{
    background: #5aa8a0;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  .home-buttons:hover .home{
    width: 100%;
  }
  
  .home-buttons:hover{
    border: none
  }
  
  .all-comments{
    padding-top: 200px;
    height: auto;
  }
  
  .all-comments h3{
    color: white;
    padding-bottom: 10px;
  
  }
  
  .all-comments p{
    color: white;
  
  }
  
  /* ------------------------- */
  .test{
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(rgba(71, 68, 68, 0.5), rgba(43, 42, 42, 0.5));
  }
  
  .comments{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(rgba(71, 68, 68, 0.5), rgba(43, 42, 42, 0.5));
  
  }
  
  .singleComment{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    width: 790px;
    margin-bottom: 50px;
  }
  
  .singleComment p,
  .singleComment h3{
    width: 80%;
    color: white;
    word-wrap: normal;
  }


