<nav class="navbar">
    <img src="" alt="" class="logo">
    <ul *ngIf="authService.isLoggedIn$ | async; else elseBlock">
        <li> <a routerLink="/Home">Home</a></li>
        <li> <a routerLink="/Catalog">Catalog</a></li>              
        <li > <a routerLink="/Add-review">Add review</a></li>
        <li> <a routerLink="/MyProfile">My Profile</a></li>
        <li> <a routerLink="#" (click)="logoutClick()">Logout</a></li>
    </ul>
      <ng-template #elseBlock>
      <ul>
        <li> <a routerLink="/Home">Home</a></li>
        <li> <a routerLink="/Catalog">Catalog</a></li>  
        <li> <a routerLink="/Login">Login</a></li>
        <li> <a routerLink="/Register">Register</a></li>
      </ul>
      </ng-template>
</nav>

