<div class="hero">
    <div class="err" *ngIf="errors.length != 0">
      <app-error [errors]="errors"></app-error>
    </div>
    <form>
        <div class="container">

            <div class="forms" [formGroup]="creationForm">
                <h1>Creation form</h1>
                <p>Please fill in this form to create a review.</p>
                <hr>
            
                <label for="movie"><b>Movie Name</b></label>
                <input type="text" placeholder="Enter Movie Name,,," name="movie" id="movie" required
                formControlName="movie">
            
                <label for="cast"><b>Cast</b></label>
                <input type="text" placeholder="Enter artists name..." name="cast" id="cast" required
                formControlName="cast">
            
                <label for="director"><b>Directord</b></label>
                <input type="text" placeholder="Enter director name..." name="director" id="director" required
                formControlName="director">

                <label for="year"><b>Year</b></label>
                <input type="text" placeholder="Enter year..." name="year" id="year" required
                formControlName="year">


                <label for="imageUrl"><b>ImageUrl</b></label>
                <input type="text" placeholder="Enter image url..." name="imageUrl" id="imageUrl" required
                formControlName="imageUrl">

                <label for="description"><b>Description</b></label>
                <textarea type="text" placeholder="Enter description..." name="description" id="description" required
                formControlName="description"></textarea>
            </div>

        
        <div class="genres">
                <label for="genre"><b>Genre</b></label>
                <br/>
                    <label class="radio-inline" *ngFor="let item of _genreList">
                        <input type="checkbox" name={{item.name}}
                        (change)="onchange()" 
                        [(ngModel)]="item.isSelected"
                        value={{item.name}}>
                        {{item.name}}
                    </label>
        </div>
        
        <hr>
        <button type="submit" class="registerbtn" (click)="creationSubmit()"><span class="button-span"></span>Create Review</button>
        <br/>
        <br/>
        <br/>
        <br/>
        </div>
    </form>
</div>


