<body class="banner">
  <div class="header">
    <app-navigation></app-navigation>
  </div>

  <div class="main-section">

   <router-outlet></router-outlet>
    

  </div>



  <footer>
      <div class="footer-content">
          <h3>Author: Anastasia Popova</h3>
          <p>We are here to enjoy the music!</p>
          <ul class="socials">
              <li><a href="https://www.facebook.com/Anastasia.G.Popova/"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
          <h4>Copyright &copy;2023</h4>
      </div>
  </footer>

</body>


