
<main>

    <div class="top-section" *ngIf="allPosts.length !=0; else elseBlock">
        <!-- <app-record [postssss]="allPosts"/> -->
        <app-movie [postssss]="allPosts"></app-movie>
    </div>

    <ng-template class="top-section" #elseBlock>
        <app-no-entries></app-no-entries>

    </ng-template>



    <div class="bottom-section">
        <div class="left-bottom">
            <h1>MOVIE<span class="title">BUFFS</span></h1>
            <p>Share your favorite movies. Share reviews.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam quas ullam natus? Perspiciatis libero ea explicabo veniam doloremque! Cumque voluptatem velit ut dolores? Nisi odit recusandae nostrum perferendis aliquid.</p>
            <a href="/Catalog" class="a-button"><span class="button-span"></span>CATALOG</a>
        </div>

        <div class="right-bottom">

            <h3>Check on iMDB</h3>
            <!-- <app-imdb-table [movies]="allIMDB"></app-imdb-table> -->
            <app-imdb [movies]="allIMDB"></app-imdb>

        </div>

    </div>

</main>
