
<section class="details-page">
    <h1>Movie Details</h1>
    <article class="details-card">

        <article class="details-card-text">
            <h2>Movie Name:<br> {{currentPost.movieName}}</h2>
            <h3>Artist: {{currentPost.artist}}</h3>
            <h3>Genre: {{currentPost.genre}}</h3>
            <h3>Year: {{currentPost.year}}</h3>
            <h3>Description: {{currentPost.description}}</h3>
            <h3>Current Raiting: {{currentPost.raiting}}</h3>

            
            <div class="buttons">

                <div class="edit-edit" *ngIf="apiService.isOwner$ | async ; else elseBlock">
                <!-- Only for registered user and author of the review -->
                    <a routerLink="/edit/{{currentPost._id}}"class="btn-edit">Edit</a>
                    <button class="btn-delete" (click)="onDeleteClick()">Delete</button>
                </div>

                <ng-template #elseBlock>
                    <div class="logged-users"  *ngIf="authService.isLoggedIn$ | async">
                        <!-- logged in user who has not yet wished book-->
                        <div class="votes" *ngIf="apiService.isVoted$ | async ; else elseBlock2">
                            <p class="voted-pub">You already rated this movie!</p>
                        </div>

                            <ng-template #elseBlock2>
                                <label class="rate-label">Rate this movie</label>
                                <div class="rate" [formGroup]="voteForm">
                                    <input formControlName="rate"  type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input formControlName="rate" type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input  formControlName="rate" type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input  formControlName="rate" type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input  formControlName="rate" type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>

                                <button class="btn-vote" (click)="voteFunc()">Vote</button>
                                <!-- <a href="/movies/{{currentPost._id}}" class="btn-vote" (click)="voteFunc()"><i class="fa-regular fa-heart"></i> Vote!</a> -->
                            </ng-template>

                            <div class="wishes" *ngIf="apiService.isWished$ | async ; else elseBlock3">
                                <p class="wish-pub">You already added it to your wish list</p>
                            </div>

                            <ng-template #elseBlock3>
                                <button class="btn-wish" (click)="wishFunc()">Add to wish list</button>
                                <!-- <a href="/movies/{{currentPost._id}}" class="btn-wish" (click)="wishFunc()"><i class="fa-regular fa-heart"></i> Wish to watch!</a> -->
                            </ng-template>
                    </div>
                </ng-template>
            </div>


        </article>

        <article class="details-card-image">
            <img src={{currentPost.imageUrl}}>
        </article>

    </article>
    <br>
    <br>

    <article class="comments" *ngIf="authService.isLoggedIn$ | async">
        <article class="add-a-comment">
            <form>
                <label>Add your comment here:</label>
                <textarea #inputText></textarea>
                <button class="home-buttons"(click)="addANewComment(inputText)"><span class="home"></span>ADD COMMENT</button>
            </form>

            <article class="all-comments">
                <app-comment [comentss]="allComments"></app-comment>
            </article>

        </article>

    </article>


</section>

